h1 {
	text-align: center;
	color: orange;
}

input {
	margin: 5px 0px;
}

table {
	width: 100%;
	border: 1px solid black;
}

th, td {
	border: 1px solid black;
}

.feedbackHeading {
	font-size: 30px;
	font-weight: bold;
	margin: 15px 0px;
}

.submitButton {
	font-size: 100px;
}

.commentList {
	margin: 5px 0px;
	border-top: 1px solid black;
}